* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base */

body{
    background: #252A34;
    font-family: 'Montserrat', sans-serif;
    color: #EAEAEA;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #FF2E63;
    font-family:'Oswald', sans-serif;
    font-size: 40px;
    margin-left: 5px;
}

header nav a{
    text-decoration: none;
    color: #EAEAEA;
    margin-right: 10px;

}

header nav a:hover {
    color: #FF2E63;
}

.container{
    margin-left: 20px;
    margin-right: 20px;
}

/* Filme em destaque*/

.filme-principal {
    font-size: 16px;
    height:400px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%), url('/img/destaque.jpg');
    background-size:cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-bottom: 100px;
    margin-top: 10px;
}



.filme-principal .container{
    width: 60%;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 35px;
    font-family: Helvetica, Arial, sans-serif
}

.botao {
    background-color: rgba(0, 0, 0, 0.50);
    border: none;
    color: #EAEAEA;
    padding: 15px 30px;
    margin: 5px;
    font-size: 14px;
    width: 200px;
    transition: .3s ease all;
}

.botao:first-child {
    background-color: #FF2E63;
    color: #EAEAEA;
}

.botao:hover{
    background-color:#EAEAEA;
    color: #252A34;

}

.botao i{
    margin-right: 10px;
}

.box-filme {
    width: 150 px;
    height: auto;
    display: block;
}